.big_heading{

	font-family: 'Bungee Shade', cursive;
	
}

.big_heading:hover{
	color: green;
}
.smallimage{
	padding-top: 5px;
	display: block;
    margin: auto;
    width: 10%;
}

.navbar{
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}
.navbar a{
	color: white;
	text-decoration: none;
}

.center2 a:visited{
	color: black;
}
.center2 a{
	color: black;
}
.navbar > li{
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navbar li:hover {
    background-color: #111;
}


body {
	width: 800px;
    margin: 0 auto;
	background-color: #DDDDDD;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
p {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	padding: 5px 20px 5px 25px;
	color: blue;
	font-family: 'Bungee', cursive;
	font-size: 20px;
}

p:hover {
	color: red;
	font-style: italic;
}

.my-class{
	color: purple;
}

li:hover{

	color: red;
}

.center{
	text-align: center;
	width: 600px;
	margin: 0 auto;
	padding: 5px 20px 5px 25px;
}

.center2{
	width:150px;
    margin: auto;
    text-align:left;  
}

ul:hover{
	color: pink;
}

ul{
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	list-style-type: square;
}

html{
	background: #001f3f;
}
/*
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee', cursive;
font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
*/

